header {
    width: 100%;
    min-width: 380px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.userDisplay {
    display: flex;
    align-items: flex-end;
    padding-right: 50px;
    align-items: center;
}


.btnRegister, .btnLogin  {
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1DBEB4;
    text-align: center;
    width: 200px;
    height: 40px;
    border: 1px solid #1DBEB4;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.mobileMenu {
    width: 25px;
    height: 12px;
}

header {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.20);
}

@media (max-width:767.5px){
    .btnRegister, .btnLogin{
        display:none;
    }
}

@media (min-width:767.5px) {
    .mobileMenu {
        display:none;
    }
}

