input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    border-radius: 5px;
    height: 20px;
    min-width: 20px;
    width: 20px;
    background: #fff;
    border: 2px #ddd solid;
    margin-right: 4px;
}

.checkbox--active{
    border-color: var(--primary);
    background-color: var(--primary);;
}

.checkbox_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    width: 50%;
}
.checkbox_content img{
    padding-right: 10px;
    padding-left: 10px;
}
